@import url(reset.css);
@import url(fonts.css);
html, body {
  height: 100%;
  min-height: 100%; }

body {
  font-family: 'Noto Sans', 'Arial', 'Sans-serif';
  color: #fff;
  background: #D3D4D5; }

#main {
  padding: 16px; }

h2 {
  margin-bottom: 16px;
  font-size: 1.2em;
  font-weight: 700; }

.panel {
  background: #1d2123;
  padding: 16px;
  border-radius: 3px; }

.imageRow {
  background: #75797B;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4; }

#header {
  background: #1d2123;
  border-radius: 3px;
  overflow: hidden;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 16px; }
  #header h1 {
    float: right;
    background: #E76049;
    line-height: 50px;
    padding: 0 32px; }

#preview {
  margin: 20px; }
  #preview h3 {
    font-weight: 900;
    margin: 10px 0; }
  #preview .image {
    border-radius: 2px;
    width: 62%;
    margin-right: 1.5%;
    float: left;
    background: #1d2123;
    min-height: 512px; }
    #preview .image .canvasWrapper {
      padding: 10px; }
    #preview .image canvas {
      width: 100%;
      background: #000; }
  #preview .controls {
    padding: 0.5%;
    border-radius: 2px;
    float: left;
    width: 35%;
    background: #1d2123;
    min-height: 512px; }
  #preview .fitsHeader table {
    font-size: 13px;
    width: 100%;
    line-height: 1.2; }
    #preview .fitsHeader table td {
      padding: 5px;
      vertical-align: middle; }
    #preview .fitsHeader table tr td:first-child {
      font-weight: 700; }
    #preview .fitsHeader table tr:nth-child(odd) {
      background: rgba(255, 255, 255, 0.1); }
