@import url(reset.css);
@import url(fonts.css);
@import url(ion.rangeSlider.css);
@import url(ion.rangeSlider.skinFlat.css);
input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden; }
  input[type="file"].real-file-input-ie {
    height: 42px;
    width: 135px;
    font-size: 100px;
    visibility: visible;
    opacity: 0;
    cursor: pointer; }

.pretty-file-input {
  border: none;
  background: #fff;
  padding: 12px 32px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold; }
  .pretty-file-input:hover {
    background: #e76049;
    color: #fff; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  font-family: 'Noto Sans', 'Arial', 'Sans-serif';
  color: #fff;
  background: #D3D4D5; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); }
  #loader span {
    position: absolute;
    top: 50%;
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 15px; }

input, textarea, button {
  font-family: 'Noto Sans', 'Arial', 'Sans-serif';
  font-weight: 700; }
  input:focus, textarea:focus, button:focus {
    outline-width: 0; }

button {
  border: none;
  background: #fff;
  padding: 8px 12px;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: bold; }
  button:hover {
    background: #e76049;
    color: #fff; }

#main {
  padding: 16px;
  position: relative; }

h2 {
  margin-bottom: 16px;
  font-size: 1.2em; }

h2, h3, h4 {
  font-weight: 700;
  color: #eee;
  text-shadow: -1px -1px 0 #000; }

#content h2 {
  background: #343b3f;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 32px;
  padding: 8px 16px;
  text-shadow: -1px -1px 0 #060707; }

.panel {
  position: relative;
  background: #1d2123;
  padding: 64px 16px 16px;
  overflow: hidden; }

.imageRow {
  background: #75797B;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4; }

#header {
  background: #1d2123;
  overflow: hidden;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 16px; }
  #header h1 {
    float: right;
    background: #e76049;
    line-height: 50px;
    padding: 0 32px;
    text-shadow: -1px -1px 0 #b22e18; }
    #header h1 .small {
      font-size: 0.7em;
      position: relative;
      top: -5px; }

.index {
  text-align: center;
  width: 500px;
  margin: 0 auto; }

.preview .canvasWrapper {
  float: left;
  width: auto;
  width: 200px;
  text-align: center; }
  .preview .canvasWrapper canvas {
    display: inline-block; }
.preview .field {
  padding-bottom: 8px; }
.preview .field.right {
  float: right; }
.preview .imageControls {
  margin-left: 220px; }

.fullImage {
  height: 550px;
  padding-top: 16px; }
  .fullImage .tools {
    padding-bottom: 8px; }
  .fullImage .canvasWrapper {
    width: 100%;
    height: 504px;
    overflow: hidden;
    position: relative;
    background: #000;
    border: 1px solid #000; }
    .fullImage .canvasWrapper canvas {
      position: relative;
      cursor: move; }
