@import 'reset.css';
@import 'fonts.css';

$panel: #1D2123;

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: 'Noto Sans', 'Arial', 'Sans-serif';
	color: #fff;
	background: #D3D4D5;
}

#main {
	padding: 16px;
}

h2 {
	margin-bottom: 16px;
	font-size: 1.2em;
	font-weight: 700;
}

.panel {
	background: $panel;
	padding: 16px;
	border-radius: 3px;
}

.imageRow {
	background: #75797B;
	padding: 16px;
	margin-bottom: 16px;
	border-radius: 4;
}

@import '../mods/header/header';
@import '../mods/index/index';
@import '../mods/preview/preview';