$panel: #1D2123;
$highlight: #E76049;
$greyMedium: lighten($panel, 10%);
$greyLight: lighten($panel, 20%);

@import 'includes/reset.css';
@import 'includes/fonts.css';
@import 'icons/font-awesome';

@import 'includes/inputFile';
@import 'includes/ion.rangeSlider.css';
@import 'includes/ion.rangeSlider.skinFlat.css';



html, body {
	height: 100%;
	min-height: 100%;
	min-width: 800px;
}

body {
	font-family: 'Noto Sans', 'Arial', 'Sans-serif';
	color: #fff;
	background: url(../img/bg.png);
	box-shadow: rgba(0,0,0,0.4) 0 0 100px INSET;
}

#header {
	min-width: 800px;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#content {
	min-width: 768px;
	position: absolute;
	top: 58px;
	left: 16px;
	right: 16px;
	bottom: 16px;
}


#loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	span {
		position: absolute;
		top: 50%;
		line-height: 30px;
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
}

input, textarea, button {
	font-family: 'Noto Sans', 'Arial', 'Sans-serif';
	font-weight: 700;
	&:focus{
		outline-width: 0;
	}
	border: 0;
	margin: 0;
}

input[type=text] {
	padding: 10px;
	font-size: 1em;
}

h2 {
	margin-bottom: 16px;
	font-size: 1.2em;
}

h2, h3, h4 {
	font-weight: 700;
	color: #eee;
	text-shadow: -1px -1px 0 #000;
}

#content h2 {
	background: $greyMedium;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	line-height: 32px;
	padding: 8px 16px;
	text-shadow: -1px -1px 0 darken($greyMedium, 20%);
}

.panel {
	position: relative;
	background: $panel;
	padding: 64px 16px 0px;
	overflow: hidden;
}

/** Components **/

button {
	border: none;
	margin: 0;
	background: #fff;
	padding: 8px 12px;
	font-size: 0.8em;
	cursor: pointer;
	font-weight: bold;
	line-height: 1.2;

	&:hover {
		background: $highlight;
		color: #fff;
	}
}

.tools {
	position: absolute;
	top: 16px;
	left: 16px;
	right: 16px;

	.fa {
		font-size: 1.1em;
		padding-left: 5px;
		line-height: 1.1em;
	}
}


.menu {
	display: inline-block;
	position: relative;
	background: #fff;
	padding: 8px 24px 8px 12px;
	font-size: 0.8em;
	cursor: pointer;
	font-weight: bold;
	color: #000;
	line-height: 1.2;

	.fa {
		position: absolute;
		right: 8px;
	}

	ul {
		display: none;
		position: absolute;
		z-index: 1;
		left: 0;
		width: 100%;
		top:100%;

		li {
			background: #fff;
			padding: 8px 12px;
			cursor: pointer;
			font-weight: bold;
			color: #000;
		}
	}

	&:hover  ul{
		display: block;
	}

	&:hover, li:hover {
		color: #fff;
		background: $highlight;
	}
}


@import '../mods/header/header';
@import '../mods/images/images';
@import '../mods/preview/preview';
@import '../mods/fullImage/fullImage';
@import '../mods/fitsHeader/header';