@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);


/** Default body styles **/
body, input, textarea {
	font-family: "Noto Sans", "Arial", "Sans-serif";
}


/** Base Fonts **/
h1 {
	font-size: 2.4em;
	font-weight: 700;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
	font-weight: 700;
}