.add-image__button
  display: inline-block
  position: relative
  overflow: hidden
  cursor: pointer !important

.add-image__input
  cursor: pointer !important
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0.001
  
.add-image--sidebar
  text-align: center
  
  button.add-image__button
    background: $t-grey
    
  i
    font-size: 13px
    padding: $padding-small
  
.add-image--intro
  
  i
    margin-right: 10px

  .add-image__label
    font-size: 18px
    padding-right: $padding-small
    font-weight: bold
  