#stage {
	> div {
		height: 100%;
	}
	background: #000;
	position: absolute;
	top: $headerHeight;
	right: 0;
	bottom: 0;
	left: $sidebarWidthCollapsed;
	color: #fff;
	@include transition(all, 350ms, 0, ease-in-out);
	z-index: 5;

	&.isEditing {
		left: 600px;
		right: -600 - $sidebarWidthCollapsed;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	}

	.mainImage {
		img{
			width: 100%;
		}
		width: 100%;
		height: auto!important;
	}

	.largeImage {
		background: #000;
		width: 100%;
		height: 100%;
		background: url(../img/Helix_Nebula.png) no-repeat #000 center center;
		background-size: cover;
	}

	h2 {
		top: 50%;
		line-height: 1;
		text-align: center;
		font-size: 3em;
		position: relative;
		color: #fff;
		text-shadow: 0px 0px 12px rgba(0,0,0,0.5);

		&:after {
			content: '';
			width: 120px;
			height: 120px;
			background: url(../img/logo-black-transparent-120.png) no-repeat transparent center center;
			opacity: 0.45;
			position: absolute;
			top: -130px;
			left: 50%;
			margin-left: -60px;

		}

	}

	h3 {
		position: relative;
		top: 52%;
		width: 100%;
		text-align: center;
		text-shadow: 0px 0px 12px rgba(0,0,0,0.5);
	}

	.addImage {
		position: absolute;
		padding: 22px;
		margin-left: 30px;
		font-weight: 700;
		i:before {
			position: absolute;
			display: inline-block;
			font-size: 47px;
			left: -30px;
			top: 8px;
		}
	}

	.stageInner {
		height: 100%;
	}

	.canvasWrapper {
		height: 100%;

		canvas {
			width: 100%;
			height: 100%;
		}
	}
}