#main
  min-width: 1024px
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: $bg-darker

 .stage-wrapper
  position: absolute
  top: 0
  right: 0
  left: $sidebarWidth
  bottom: 0

.overlay
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(0,0,0,0.5)
