@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

body
  font-family: 'Monda', 'Arial', 'Sans-serif'
  color: darken(#FFFFFF, 10)

h1
  font-size: 60px
  font-weight: bold
  margin-bottom: $padding

h2
  font-size: 24px
  font-weight: bold
  margin-bottom: $padding
  
  
h3
  font-size: 18px
  font-weight: bold
  margin-bottom: $padding
  
h4
  font-size: 16px
  font-weight: bold
  margin-bottom: $padding


a, a:link, a:visited, a:active
  color: $t-primary
  text-decoration: none

  &:hover
    text-decoration: underline

p
  margin-bottom: $padding-small

.panel
  padding: $padding-large
  background: $t-grey
  margin: 0 $padding $padding $padding

.button, button
  display: block
  border: 0
  padding: 8px
  margin: 0
  outline: 0
  cursor: pointer
  background: #FFF

  &:hover
    background: #DDD

  &:active
    background: #BBB
    
.stage-wrapper
  position: absolute
  top: 0
  right: 0
  left: $sidebarWidth
  bottom: 0