//Colors

$bg = #273D51

$bg-dark = darken($bg, 5);
$bg-darker = darken($bg, 10);
$bg-darkest = darken($bg, 18);

$bg-light = lighten($bg, 5);
$bg-lighter = lighten($bg, 10);
$bg-lightest = lighten($bg, 20);

$default = #4B5C6D
$primary = #F05E00
$success = #5CB85C
$warning = #FAAD3C
$danger = #EC3D40
$info = #22C2E1


//Dimensions
$sidebarWidth = 61px
