//Theme Colours
$t-bg = #202020
$t-primary = #3040EE
$t-secondary = #DF691A
$t-grey = #505050
$t-grey-light = #BBBBBB

//Dimensions
$padding = 20px
$padding-small = 12px
$padding-large = 32px
$sidebarWidth = 61px