@require './_variables'
@require './_common'
@require '../components/app/_app'
@require '../components/sidebar/_sidebar'
@require '../components/add-image/_add-image'
@require '../components/image-thumb/_image-thumb'
@require '../components/preview/_imagePreview'
@require '../components/intro/_intro'
@require '../components/stage/_stage'