.toolbar
  background: #000
  position: absolute
  top: 0
  left: $sidebarWidth
  right: 0
  height: $toolbar-height
  border-bottom: 1px solid $bg-darker

  .tool
    margin: 2px 6px

  .zoom

    .input-group
      margin-bottom: 5px
      width: 150px

      *
        height: 30px
        line-height: 1
        font-size: 12px

      input
        padding: 5px
