.fullImage {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 58px;

	.canvasWrapper {
		top: 60px;
		left: 16px;
		bottom: 16px;
		right: 16px;
		overflow: hidden;
		position: absolute;
		background: #000;
		border: 1px solid #000;

		canvas {
			position: relative;
			cursor: move;
		}
	}

}