.fullImage {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 66px;

	.tools {
		position: absolute;
		top: 16px;
		left: 16px;
		right: 16px;
	}

	.canvasWrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		background: #000;
		border: 1px solid #000;

		canvas {
			position: relative;
			cursor: move;
		}
	}

}