.fullImage {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 58px;

	.canvasWrapper {
		top: 54px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		overflow: hidden;
		position: absolute;
		background: #000;
		border: 1px solid #000;

	  	&.loading {
			background: url(../img/loading.gif) no-repeat #000 center center;

		  	canvas {
			  opacity: 0;
			}
	  	}


		canvas {
			position: relative;
			cursor: move;
		}
	}

}