.preview {
	.canvasWrapper {
		float: left;
		width: auto;
		width: 200px;
		text-align: center;
		canvas {
			display: inline-block;
		}

	}

	.field.right {
		float: right;
	}

	.imageControls {
		margin-left: 220px;
	}
}