.scale {
	.canvasWrapper {
		float: left;
		width: auto;
		width: 320px;
		text-align: center;
		canvas {
			display: inline-block;
		}
		margin-bottom: 16px;

	}

	.field {
		padding-bottom: 8px;
	}

	.field.right {
		float: right;
	}

	.imageControls {
		margin-left: 336px;
	}
}