.scale {
	.canvasWrapper {
		margin: 0 auto;
		width: 320px;
		padding: 16px 0;
		text-align: center;
		background: #000;

		canvas {
			display: inline-block;
		}

		margin-bottom: 16px;

	}

	.field {
		padding-bottom: 8px;
	}

	.field.right {
		float: right;
	}

	.imageControls {
		background: $greyLightest;
		padding: 16px;

		.irs-line {
			background: $greyDark;
			.irs-line-mid, .irs-line-right, .irs-line-left {
				background: none;
				border-radius: 2px;
				overflow: hidden;
			}
		}
	}
}