.preview
  position: absolute
  left: $sidebarWidth
  width: 540px
  top: 0
  bottom: 0
  padding: 20px
  background: $bg-dark
  color: #FFF
  padding: $padding

  .preview__canvas
    width: 500px
    height: 500px
    border: 1px solid #333
    background: #000
    cursor: crosshair

  #scaleBar
    width: 500px
    height: 30px

  .image-name
    background: none
    border: none
    color: #fff
    font-size: 2em
    border-bottom: 2px solid transparent
    margin-bottom: 10px
    outline: none
    width: 100%

    &:focus
      border-bottom-color: $primary

  .colors
    height: 50px
    width: 500px

    .color
      height: 50px
      float: left
      margin-bottom: 5px
      cursor: pointer
      &:active
        cursor: ew-resize!important

    .placeholder
      background: $secondary
      float: left
      height: 50px
      line-height: 50px
      text-align: center
      outline: 2px solid #000
      position: relative
      z-index: 1


      &:before
        content: "Drop here"
        color: white
