.preview
  position: absolute
  left: $sidebarWidth
  width: 540px
  top: 0
  bottom: 0
  padding: 20px
  background: darken(#333333, 5)
  color: #FFF
  padding: $padding
  border-right: 1px solid darken(#333333, 10)
  
  canvas
    border: 1px solid #333
    background: #000
    cursor: crosshair
  