#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: $panel;
	overflow: hidden;
	font-weight: 700;
	line-height: 42px;
	margin-bottom: 16px;

	h1 {
		float: right;
		background: $highlight;
		line-height: 42px;
		padding: 0 32px;
		text-shadow: -1px -1px 0 darken(#E76049, 20%);
	
		.small {
			font-size: 0.7em;
			position: relative;
			top: -5px;
		}
	}

	ul {
		padding-left: 16px;
		float: left;
		li {
			display: inline;

			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					color: $highlight;
				}
			}
		}
	}
}