#header {
	background: $panel;
	border-radius: 3px;
	overflow: hidden;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 16px;

	h1 {
		float: right;
		background: #E76049;
		line-height: 50px;
		padding: 0 32px;
	}
}