#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: $brand;
	overflow: hidden;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 16px;

	.version {
		position: absolute;
		font-size: 0.7em;
		top: 10px;
		right: 10px;
		line-height: 1;
	}

	h1 {
		width: 50px;
		height: 50px;
		background: url(../img/logo-white-transparent-40.png) no-repeat transparent 8px 5px;
	}

	nav {
		float: left;
		overflow: hidden;
		padding-right: 10px;
		&:hover {
			background: #000;
		}
	}

	ul {
		display: none;
		padding-left: 8px;
		float: left;
		li {
			display: inline;
			margin: 0 8px;

			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					color: $highlight;
				}
			}
		}
	}
}