.images {

	.imageList{
		margin-top: 20px;
		padding: 0 20px;
	}


	a {
		//color: $panel;
		text-decoration: none;
		&:hover {
			color: #fff;
		}
	}

	.empty {
		margin-bottom: 16px;
		text-align: center;
	}

	.title {
		margin-right: 16px;
		font-weight: 700;
	}

	.imageRow {
		background: $greyLightest;
		margin-bottom: 16px;
		position: relative;
		overflow: hidden;
		height: 100px;

		.image, .imageMenu {
			float: left;
			display: inline-block;
			overflow: hidden;
		}

		.image {
			margin-right: 16px;
			padding: 0 16px;
			background: #000;
			border-right: 1px solid #222;
		}

		h3 {
			font-weight: 700;
			font-size: 1.4em;
			margin: 16px 0 20px 0;

			&:focus {
				outline: none;
				background: rgba(255,255,255,0.5);
				margin: 10px 0;
				padding: 8px;
			}
		}

		.imageMenu {
			li {
				margin-right: 4px;
				display: inline;
			}
		}

	}

}