/** Variables **/
$appColor: #1F5DC2;
$appColorLight: lighten($appColor, 20%);
$appColorDark: darken($appColor, 20%);
$highlight: #E76049;
$background: #E6EBEF;

$greyMedium: #888;
$greyDark: darken($greyMedium, 20%);
$greyLight: lighten($greyMedium, 20%);
$greyLightest: lighten($greyMedium, 30%);



/** Library Includes **/
@import 'includes/reset.css';
@import 'includes/fonts.css';
@import 'icons/font-awesome';
@import 'includes/inputFile';
@import 'includes/ion.rangeSlider.css';
@import 'includes/ion.rangeSlider.skinFlat.css';



/** Base Styles **/
html, body {
	height: 100%;
	min-height: 100%;
	min-width: 800px;
}

body {
	font-family: 'Noto Sans', 'Arial', 'Sans-serif';
	color: #fff;
	background: $background;
}

#header {
	min-width: 800px;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#content {
	min-width: 768px;
	position: absolute;
	top: 70px;
	left: 20px;
	right: 20px;
	bottom: 20px;
}


#loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
	span {
		position: absolute;
		top: 50%;
		line-height: 30px;
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
}

h2, h3, h4 {
	font-weight: 700;
	color: #fff;

	#content & {
		color: #000;
	}
}

h2 {
	font-size: 1.6em;
	line-height: 1.6em;
}

h3 {
	font-size: 1.1em;
}

.hidden {
	display: none;
}


/** Module Includes **/
@import 'components';
@import '../../mods/header/header';
@import '../../mods/index/index';
@import '../../mods/selectImage/styles';
@import '../../mods/images/images';
@import '../../mods/scale/styles';
@import '../../mods/fullImage/fullImage';
@import '../../mods/fitsHeader/header';