/** Components **/

.btn, input, textarea, button, .pretty-file-input, .menu {
	font-family: 'Noto Sans', 'Arial', 'Sans-serif';
	font-weight: 700;
	&:focus{
		outline-width: 0;
	}
	font-size: 16px;
	border: 0;
	margin: 0;
	border: none;
	&.btn-small {
		font-size: 13px;
	}
}

.btn, button, .pretty-file-input, .menu {
	display: inline-block;
	background: #fff;
	color: #000;
	padding: 8px 16px;
	cursor: pointer;
	&:hover {
		background: $highlight;
		color: #fff;
	}
}

input[type=text] {
	padding: 8px 16px;
}

.tools {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
  	background: $greyMedium;
  	padding: 8px;

	#content &{
		h2, h3 {
			color: #fff;
		}
	}

	.menu, .btn, button {
		font-size: 0.8em;
	}

	.fa {
		font-size: 1.1em;
		padding-left: 5px;
		line-height: 1.1em;
	}
}


.menu {
	display: inline-block;
	position: relative;
  	padding: 9px 34px 9px 16px;

	.fa {
		position: absolute;
		right: 12px;
		top: 8px;
	}

	ul {
		display: none;
		position: absolute;
		z-index: 1;
		left: 0;
		width: 100%;
		top:100%;

		li {
			background: #fff;
			padding: 8px 12px;
			cursor: pointer;
			font-weight: bold;
			color: #000;
		}
	}

	&:hover  ul{
		display: block;
	}

	&:hover, li:hover {
		color: #fff;
		background: $highlight;
	}
}
