sidebar {
	display: none;
	background: #000;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 60px;

	.init & {
		display: block;
	}

	.inner {
		padding-top: 5px;
	}

	.thumb {
		margin: 0 5px 5px 5px;

	}

}