/**
 *	Colours
 */
$toolbar-bg: #000;
$sidebar-bg: #4e5d6c;


/**
 *	Dimensions
 */
$navbar-height: 50px;
$toolbar-height: 40px;
$header-height: ($toolbar-height + $navbar-height);
$sidebar-width-closed: 60px;
$sidebar-width-open: 300px;