/**
 *	Module Imports
 */

@import "_variables";
@import "../../src/navbar/_navbar";
@import "../../src/toolbar/_toolbar";
@import "../../src/sidebar/_sidebar";
@import "../../src/canvas/_canvas";



/**
 *	App Styles
 */

html, body {
	height: 100%!important;
	min-height: 100%!important;
}

#main {
	position: absolute;
	top: $header-height;
	left: 0;
	right: 0;
	bottom: 0;
}

.jumbotron {
	padding: 30px;
}



/**
 *	Components
 */

.init {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;

	.spinner {
		position: relative;
		top: 50%;
		margin: auto auto -20px auto;
	}
}

.spinner {
	width: 40px;
	height: 40px;
	margin: 100px auto;
	background-color: #FFF;

	border-radius: 100%;
	-webkit-animation: scaleout 1.0s infinite ease-in-out;
	animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
	0% { -webkit-transform: scale(0.0) }
	100% {
		-webkit-transform: scale(1.0);
		opacity: 0;
	}
}

@keyframes scaleout {
	0% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 100% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
		  opacity: 0;
	  }
}