.intro
  width: 80%
  max-width: 700px
  margin: 0 auto
  text-align: center
  height: 100%
  
.intro__inner
  position: relative
  top: 50%
  transform: translateY(-55%)

.intro__logo
  opacity: 0.8
  width: 30%
  
.intro__info
  margin: $padding-large
  
.intro__panel
  background: rgba(#000, 0.8)
  margin: $padding-large $padding-large*2
    