.addImage {

	.add-file-wrapper {
		width: 42px;
		height: 42px;
		padding: 0;
		font-size: 33px;
		margin: 7px;
		overflow:hidden;
		cursor: pointer;
		position: relative;

		&:before {
			position: absolute;
			left: 5px;
			top: 4px;
		}
	}

	.add-file{
		cursor: pointer!important;
		position: absolute;
		height: 42px!important;
		width: 42px!important;
		opacity:0;
		top: 0;
		left: 0;
		margin: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		cursor: pointer;

	}
}