<input type="text" class="imageLabel" rv-value="fits:label">

<div class="canvasWrapper">
	<canvas></canvas>
</div>

<div class="imageControls">

	<div class="field">
		<label>Stretch function: </label>
		<select id="scale" rv-value="fits:options>scaleType">
			<option value="linear">Linear</option>
			<option value="sqrt">sqrt</option>
			<option value="cuberoot">cuberoot</option>
			<option value="log">log</option>
			<option value="loglog">loglog</option>
			<option value="sqrtlog">sqrtlog</option>
		</select>
	</div>

	<div class="field">
		<input type="text" id="minMax" name="minMax" />
	</div>

	<div class="field">
		<button id="cancel" rv-on-click="action.cancel">Cancel</button>
		<button id="done" rv-on-click="action.apply">Apply</button>
	</div>

	<div class="field">
		<input type="text" class="color" rv-value="fits:options>color"/>
	</div>
</div>