#index {

	position: absolute;
	top: -10px;
	left: -16px;
	right: -16px;

	h2 {
		top: 200px;
		line-height: 1;
		text-align: center;
		font-size: 3em;
		position: relative;

		&:after {
			content: '';
			width: 120px;
			height: 120px;
			background: url(../img/logo-black-transparent-120.png) no-repeat transparent center center;
			opacity: 0.45;
			position: absolute;
			top: -130px;
			left: 50%;
			margin-left: -60px;

		}

	}

	.largeImage {
		background: #000;
		width: 100%;
		height: 450px;
		background: url(../img/Helix_Nebula.png) no-repeat #000 center center;
		background-size: cover;
	}
	
	.selectImage {
		position: relative;
		top: 240px;
		text-align: center;
		background: rgba(0,0,0,0.6);
		padding: 20px;
		height: 106px;
	}


	h3 {
		font-size: 1.8em;
		margin-bottom: 20px;
	}

}