.no-image {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	.logo {
		opacity: 0.05;
		width: 180px;
	}

	.file-upload {
		position: relative;
		overflow: hidden;
		cursor: pointer!important;
	}

	.file-upload input {
		cursor: pointer!important;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.001;
	}
}